
%table#volunteerstable
  %thead
    %tr
      %th Name
      %th Program
      %th Time In
      %th Time out
    %tbody
    - @the_volunteers.each do |person|
      %tr
        %td= person.name 
        %td= person.program
        %td= person.time_in.strftime("%I:%M%p")        
        %td= link_to "Sign Out #{person.name}", {:controller => "ifoapp", :action => "sign_person_out", :id => person.id}, :id => "Sign_out_#{person.name}"
